body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    .img1{
        height: 560px;
    }
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

img {
    display: block;
    margin: 1rem auto;
}

a {
    display: block;
    text-align: center;
    background-color: #0070FF;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2rem;
}

a:hover {
    background-color: #0052CC;
}